@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Itim&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(226, 240, 255);
    font-family: "Noto Sans TC", serif;
}


/* ====================== header ====================== */


.nemo {
    width: auto;
}

nav {
    background-color: #fff;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 32px;
    font-weight: bolder;
    font-family: "Dancing Script", cursive;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 24px;
}

/* ====================== container ====================== */

/* right */
main {
    width: 100%;
    /* background-color: green; */
}

main h2 {
    font-size: 24px;
}

main ul {
    margin: 16px 0;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgb(185, 192, 223);
}

main ul li {
    border-bottom: 1px solid #fff;
}

main ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 16px;
    color: #00165f;
    text-decoration: none;
}

main ul li a:hover {
    color: #fff;
    background-color: rgb(115, 131, 165);
}

.burgar {
    display: none;
}


/* ====================== footer ====================== */
footer {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
}

footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}


/* ====================== RWD ====================== */