:root {
    --dark: #353C4F
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #353C4F;
}

body {
    font-family: "Poly", Arial, "Noto Sans TC", serif;
    background: linear-gradient(to bottom, rgb(226, 240, 255) 0%, #ffffff 100%);

}

a {
    text-decoration: none;
}

/* ====================== header ====================== */
nav {
    background-color: #9cdcf4;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 32px;
    font-weight: bolder;
    font-family: "Dancing Script", cursive;
    margin: 8px;

}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 24px;
}

/* ====================== container ====================== */
.portfolios__card {
    border: 0;
    color: #353C4F;
    overflow: hidden;
}

.card__imgLink {
    overflow: hidden;
}

.card__img {
    transition: all 0.5s ease;
}

.card__img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
}

/* card */
.card__link,
.card__link i {
    color: #12296a;
}

.card__link {
    text-align: center;
    border: 0;
    background-color: #eff9ff;
    transition: all 0.5s ease;

}

.card__link:hover,
.card__link:hover i {
    color: #ffffff;
    background-color: #4777b6;
}

/* ====================== footer ====================== */
footer {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 16, 35, 0.6);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer a,
footer i {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 0.2s ease;

}


footer a:hover i,
footer a:hover {
    color: #a4b8d1;
}


/* ====================== RWD ====================== */